__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
dist
build
.git
.gitignore
.dockerignore
*.md
.env*
.venv
venv
.tox
.coverage
htmlcov
.pytest_cache
.mypy_cache
logs/
db.sqlite3
media/
staticfiles/
node_modules/
